.photosBlock {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  background-color: #7383e5;
  width: 50%;
}

.column {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.listFiles {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  margin-top: 12px;
  background-color: #ca9b9b;
  max-height: 300px;
  overflow: auto;
  padding: 20px;
}