.cryptoBlock {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
  border: 1px solid gray;
  background-color: #7cae5e;
  padding: 20px;
}

.column {
  display: flex;
  flex-direction: column;
}