<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>pdf_generation</title>
    <style>
        #styles
    </style>
</head>
<body >
  <div class="root_container">
      <header class="header">
          <div class="header_images">
              <div class="entity_title">Layout</div>
              #header_images
          </div>
      </header>
      <main class="main">
          <div class="main_first_block break_page">
              <div class="entity_title">Scale comparison</div>
              <div class="main_block_scale">
                  #main_block_scale
              </div>
          </div>
          <div class="main_table_cost">
              #main_table_cost
          </div>
          <div class="main_table_risk main_table_cost">
              #main_table_risk
          </div>
      </main>
  </div>
</body>
</html>